---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import heroImage from '~/assets/images/Nas_collage.png';

const metadata = {
  title: 'Selling with Nas - All you need to know about Sales and GTM',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  actions={[
    {
  variant: 'primary',
  text: 'Connect on LinkedIn',
  href: 'https://www.linkedin.com/in/nasser-mansurali-659145102/',
  target: '_blank',
  icon: 'tabler:brand-linkedin',
  class: '!w-auto !whitespace-nowrap !px-8'
},
{
  text: 'Follow on YouTube',
  href: 'https://www.youtube.com/@sellingwithnas',
  target: '_blank',
  icon: 'tabler:brand-youtube',
  class: '!w-auto !whitespace-nowrap !px-8 !bg-white !hover:bg-gray-50 !border-2 !border-[#FF0000] !hover:border-[#FF0000] !text-[#FF0000] !hover:text-[#cc0000]'
}
  ]}
  image={{ src: '~/assets/images/hero-image.png', alt: 'picture of Nasser Mansurali' }}
>
    <Fragment slot="title">
      I love <span class="text-accent dark:text-white"> building</span>. I love <span class="text-accent dark:text-white"> selling</span>.
      <span class="hidden xl:inline"></span> I help Founders do both, faster. 
    </Fragment>

    <Fragment slot="subtitle">
  <span class="block">
    Helping businesses scale faster with Tech, automations and Go To Market strategy.
  </span>
    </Fragment>
  </Hero>

 

  <!-- Features Widget *************** 

  <Features
    id="features"
    tagline="Features"
    title="What you get with AstroWind"
    subtitle="One of the most professional and comprehensive templates currently on the market. Most starred & forked Astro theme in 2022, 2023 and 2024."
    items={[
      {
        title: 'Astro + Tailwind CSS Integration',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />  -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline=""
    title=""
    items={[
      {
        title: 'Ex-Amazon',
        description:
          'Started my journey in tech where I spent ~5 years supporting brands grow their revenue.',
      },
      {
        title: 'Founder at heart',
        description:
          'I later built a startup, raised VC capital, scaled it to +15k Users, and today it operates profitably.',
      },
      {
        title: 'Obsessed with Revenue',
        description:
          'I learned the hard way that the most important thing is to sell, so now I help Founders with their GTM strategy.',
      },
    ]}
    image={{
      src: heroImage,
      alt: 'Nas on Radio',

    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Hi, I'm Nas 👋🏽</h3>
      And here's a little bit about myself:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** 

  <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** 

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** 

  <Steps
    title="Get your dream website up and running in no time with AstroWind."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Download</span>',
        description:
          "Kickstart with GitHub! Either fork the AstroWind template or simply click 'Use this template'. Your canvas awaits, ready for your digital masterpiece. In just a few clicks, you've already set the foundation.",
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Add content</span>',
        description:
          "Pour your vision into it. Add images, text, and all that jazz to breathe life into your digital space. Remember, it's the content that tells your story, so make it captivating.",
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Customize styles</span>',
        description:
          'Give it your personal touch. Tailor colors, fonts, and layouts until it feels just right. Your unique flair, amplified by AstroWind! Precision in design ensures a seamless user experience.',
        icon: 'tabler:paint',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  /> -->

  <!-- Features2 Widget ************** -->

  <Features2
  id="Features2"
  title="What I can help you with"
  subtitle="If you're looking for support with the below, you have come to the right place"
  tagline=""
  items={[
    {
      title: 'Go To Market Strategy',
      description: "I align your GTM with your customer\'s personas, so you can start selling faster.",
      icon: 'flat-color-icons:template',
    },
    {
      title: 'Landing Page optimization',
      description: "Designing landing pages that actually convert is kinda my thing. I A/B test and optimize based on data.",
      icon: 'flat-color-icons:gallery',
    },
    {
      title: 'Lead Magnet Creation',
      description: "Creating ways for your customers to come to you, not the other way around. This way you can focus on building and closing.",
      icon: 'flat-color-icons:approval',
    },
    {
      title: 'Email funnel automations',
      description: "Collect customer details and retarget them effectively in the future - automatically. No more manual email around here.",
      icon: 'flat-color-icons:document',
    },
    {
      title: 'Paid Media Management',
      description: "Running your Media Ads to make the most of your budget. None of the typical long haul awareness - I drive sales for the present.",
      icon: 'flat-color-icons:advertising',
    },
    {
      title: 'The Price is right',
      description: "Most people price their products wrong. It's not an Art, it's a science. And when it comes to pricing, I'm a scientist.",
      icon: 'flat-color-icons:currency-exchange',
    },
    {
      title: 'AI implementation',
      description: "I love AI and AI loves me. Parts of your business can be supercharged, and I have the plug in my hand.",
      icon: 'flat-color-icons:voice-presentation',
    },
    {
      title: 'Data analytics',
      description: "I make data-driven decisions, and that's only possible with the right systems in place. I make sure those systems are well set-up.",
      icon: 'flat-color-icons:business-contact',
    },
    {
      title: 'Sales',
      description: "Ultimately it all comes down to selling. I'm an expert in it, and soon, you will be too.",
      icon: 'flat-color-icons:database',
    },
  ]}
>
  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Features2>

  <!-- CallToAction Widget *********** -->

  <CallToAction
  id="CallToAction"
    actions={[
      {
        variant: 'primary',
        text: 'Get in touch',
        href: '/contact',
        target: '_blank',
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title">
      <span class="sm:whitespace-nowrap">Get in touch</span>
    </Fragment>

    <Fragment slot="subtitle">
      Drop me an email and I'll get back to you as soon as possible.
    </Fragment>
  </CallToAction>
  

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Featured Posts"
  />

  <!-- FAQs Widget ******************* 

  <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ******************

  <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->
 </Layout>
